<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
      <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService" />
      <add key="DefaultConnectionStringName" value="DefConnStr" />
  </appSettings>
  <connectionStrings>
    <add name="DefConnStr" connectionString="SERVER=ICS-KK16308\SQLEXPRESS16;DATABASE=BikesRent; User Id=bikes_app; Password=bikes_app;" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ISecurityService" type="ICSSoft.STORMNET.Security.ISecurityService, ICSSoft.STORMNET.DataObject" />
    <alias alias="CheckingInSessionMode" type="ICSSoft.STORMNET.Security.CheckingInSessionMode, CheckingLibrary" />
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <container>
      <!-- Конфигурация системы полномочий. -->
      <register type="ISecurityService" mapTo="CheckingInSessionMode">
        <lifetime type="singleton" />
        <constructor>
          <!-- Тут надо прописать имя приложения -->
          <param name="sИмяПриложения" type="System.String" value="WebApp" />
        </constructor>
      </register>
      <register name="securityAuditClassService" type="ICSSoft.STORMNET.Business.Audit.IAudit, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.Audit.Audit, ICSSoft.STORMNET.Business.Audit" />
      <!-- Конфигурация системы подключения скриптов и стилей. -->
      <!-- Подробнее см. https://flexberry.github.io/ru/fa_page-content-manager.html -->
      
      <!-- Конфигурация сервиса пользовательских настроек. -->
      <register type="ICSSoft.Services.IUserSettingsService, UserSettingsService" mapTo="ICSSoft.Services.UserSettingsService, UserSettingsService">
        <constructor />
      </register>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.DefaultSecurityManager, ICSSoft.STORMNET.RightManager">
        <constructor />
      </register>
      <register name="securityManagerWithoutRightsCheck" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.DefaultSecurityManager, ICSSoft.STORMNET.RightManager">
        <lifetime type="singleton" />
        <constructor>
          <param name="enabled" type="System.Boolean" value="false" />
        </constructor>
      </register>
    </container>
  </unity>
  
</configuration>