<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
      <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService" />
      <add key="DefaultConnectionStringName" value="DefConnStr" />
  </appSettings>
  <connectionStrings>
    <add name="DefConnStr" connectionString="SERVER=ICS-KK16308\SQLEXPRESS16;DATABASE=BikesRent; User Id=bikes_app; Password=bikes_app;" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- Конфигурация системы полномочий. -->
      <register type="IDataService" mapTo="DataServiceType">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck" />
          </param>
          <param name="auditService" type="IAuditService">
            <dependency name="customAuditService" />
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr" />
      </register>
    </container>
  </unity>
  
</configuration>