<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="NewPlatform.Flexberry.Caching" version="1.0.0-beta02" targetFramework="net452" />
  <package id="Unity" version="5.8.6" targetFramework="net452" />
</packages>